.section--about {
}
.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
}
.title {
  max-width: 306px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.05em;

  color: #303030;
}
.undertitle {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
.about__desc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #555555;
}
