/**
  |============================
  | bookink
  |============================
*/
.btn {
  display: block;
  padding: 12px 20px;

  color: #fff;
  background-color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn--transparent {
  background-color: transparent;
}

.page-header__btn {
  padding: 12px 37px;
  color: #303030;
}

.form-footer__btn {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: transparent;
  padding: 12px 38px;
}

.btn--color-black {
  color: #303030;
}
.btn--color-white {
  color: #fff;
}
.btn--center {
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | mobail menu
  |============================
*/

.btn-menu-open {
  display: block;
  border: none;
  background-color: transparent;
  fill: #fff;
}

.btn-menu-open__icon {
}

.btn-menu-open__icon-menu {
}

.btn-menu-close {
  position: absolute;
  display: block;
  top: 48px;
  right: 31px;

  border: none;
  background-color: transparent;
  fill: black;
}

.btn-menu-close__icon {
}

.btn-menu-close__icon-cross {
}

