.address {
}
.address__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 44px;
}
.address__item {
}
.address__link {
  font-size: 18px;
  line-height: 1.666;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.address__link--bold-font {
  font-weight: 700;
}

.address__schedule {
  font-size: 18px;
  line-height: 1.666;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
