.form-footer {

}
.form-footer__list {
}
.form-footer__item {
  position: relative;
  margin-bottom: 44px;
}

.form-footer__input {
  width: 100%;
  height: 24px;
  background-color: transparent;

  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &:hover,
  &:focus {
    border-bottom: 1px solid #fff;
  }
}

.form-footer__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  .form-footer__input:hover + &,
  .form-footer__input:focus + & {
    color: #fff;
  }

  .form-footer__input:focus + &,
  .form-footer__input:not(:placeholder-shown) + & {
    transform: translateY(-20px);
  }
  transition: color $animation, transform $animation;
}

.tumb {
  position: relative;
  margin-bottom: 44px;
}

.form-footer__textarea {
  width: 100%;
  height: 76px;

  resize: none;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &:hover,
  &:focus {
    border-bottom: 1px solid #fff;
  }
}
.form-footer__label-textarea {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  .form-footer__textarea:hover + &,
  .form-footer__textarea:focus + & {
    color: #fff;
  }

  .form-footer__textarea:focus + &,
  .form-footer__textarea:not(:placeholder-shown) + & {
    transform: translateY(-20px);
  }
  transition: color $animation, transform $animation;
}
