.network-text {
}

.network-text__item {
  padding-left: 100px;
}

.network-text__item:not(:last-child) {
  margin-bottom: 24px;
}

.network-text__link {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.2em;

  color: #303030;
}

.page-footer__natwork-text {
  display: flex;
  gap: 40px;
}
.network-text__item--other-setting {
  padding: 0;
}

.network-text__link--small-font {
  font-size: 11px;
  line-height: 1.363;
}
