.network-text {
  @media screen and (min-width: 768px) {
    display: flex;
    transform: rotate(-90deg);
    transform-origin: top left;
    margin-left: 35px;
    margin-bottom: 62px;
  }
}

.network-text__item {
  @media screen and (max-width: 767px) {
    padding-left: 100px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}

.network-text__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
}

.network-text__link {
  position: relative;
  display: inline-block;

  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.357;
  }
  @media screen and (min-width: 768px) {
    font-size: 11px;
    line-height: 15px;
  }
}

.page-footer__natwork-text {
  display: flex;
  gap: 40px;
}
.network-text__item--other-setting {
  padding: 0;
}

.network-text__link--small-font {
  font-size: 11px;
  line-height: 1.363;
}
