.page-footer {
}

.page-footer__flex-box {
  display: flex;
  justify-content: space-between;
  height: 138px;
}

.copyright {
  align-self: flex-end;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
