.page-header {
  width: 100%;
  position: absolute;
}

.page-header__container {
  display: flex;
  @media screen and (max-width: 767px) {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }

  @media screen and (min-width: 768px) {
   justify-content: flex-end;
  }
}

.page-header__navigation {
  @media screen and (min-width: 768px) {
    margin-right: 37px;
  }
}

.page-header__servis {
  @media screen and(max-width:767px) {
    margin-bottom: 64px;
  }
}

.header__tel {
  display: none;
  @media screen and(max-width:767px) {
    display: inline-block;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.388;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
  }
}

.page-header__network {
  display: none;
  @media screen and(max-width:767px) {
    display: block;
  }
}
