.main-section {
  width: 100%;

  @media screen and (min-width: 768px) {
  }
}

.main-section__container {
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 0 39px;
    display: flex;
  }
}

.main-section__box {
  @media screen and (max-width: 767px) {
    max-width: 336px;
    max-height: 163px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 360px;
    max-height: 171px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-section__right-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    padding-left: 31px;
    padding-top: 208px;
    padding-bottom: 209px;
    max-width: 767px;
    flex-grow: 5;

    background-image: linear-gradient(
        to right,
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/hero-bg@1x_sm.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 1069px;
    padding-top: 272px;
    padding-bottom: 232px;
    margin-left: 30px;
    background-image: linear-gradient(
        to right,
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../image/hero-bg-tablet.jpg);
  }
}
.main-section__left-side {
  display: none;
  @media screen and (min-width: 768px) {
    width: 90px;
    height: 680px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }
}

.main-section__title {
  margin-bottom: 20px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: #ffffff;
}
